@font-face{ 
  font-family: 'PT Mono';
  src: url('/assets/fonts/PTMono-Regular.ttf');
}

@font-face{ 
  font-family: 'Lora';
  src: url('/assets/fonts/Lora-Medium.ttf');
}

.navbar {
	background-color: #000000 !important;
}

.navbar a {
	font-family: 'PT Mono', sans-serif;
	color: #33ff33 !important;
}

.body-content h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Mono', sans-serif;
}

.body-content {
	font-family: 'Lora', serif;
}

.navbar-brand {
	font-size: 1.6rem;
	margin-right: 2rem;
}

.navbar .nav-link {
	font-size: 1.1rem;
}

.nav-item {
	border-color: #33ff33;
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item:first-child {
	border-color: #33ff33;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item:last-child {
	border-color: #33ff33;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	padding-left: 15px;
	padding-right: 15px;
}

 div.container {
 	max-width: 960px;
 }
 
 
.body-content a {
	color: #7030a0;
	/*color: #1b881b;*/
	/*color: #33ff33;*/
}